<section id="weather">
    <div class="wrapper">
        <div ng-repeat="city in cities">
            <weather-widget
                    city="{{city.cityName}}"
                    sunrise="{{city.sunrise}}"
                    sunset="{{city.sunset}}"
                    color="{{colors[$index]}}"
                    on-click="onWidgetClick(city.cityName)"
            >
            </weather-widget>
        </div>
    </div>
    <div id="chartContainer" ng-show="showBg"></div>
</section>

<!--for dimming ui when chart is opened-->
<div class="transBg" ng-show="showBg" ng-click="showBg = false"></div>