<div id="box" ng-style="{'background-color': color}">
    <div class="cloud"><i class="fa fa-cloud" aria-hidden="true"></i></div>
    <div class="city">{{city}}</div>
    <div id="overlay">
        <div class="sunrise"><span ng-style="{'color':color}">Sunrise</span> <br>{{sunrise}}</div>
        <div class="sunset"><span ng-style="{'color':color}">Sunset</span> <br>{{sunset}}</div>
    </div>

</div>