﻿html {
    height: 100%;
}
body {
    font-family: 'Tahoma', sans-serif;
    color: #000;
    margin: 0px;
}

#weather {
    margin: 0px auto;
    width:900px;
    position: relative;
}

.widgetContainer {
    width: 200px;
    height: 200px;
    float: left;
    text-align: center;
}

#box {
    width:300px;
    height:300px;
    float:left;
    background:url(http://ianfarb.com/wp-content/uploads/2013/10/nicholas-hodag.jpg);
    background-size:cover;
    overflow:hidden;
    position: relative;
    text-align: center;
}

#overlay {
    position: absolute;
    background:rgba(0,0,0,.90);
    text-align:center;
    width: 100%;
    height:100%;
    bottom:0;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

#box:hover #overlay {
    opacity:1;
}
#box:hover {
    cursor: pointer;
}


.cloud {
    font-size:115px;
    color: #fff;
    margin: 10px auto;
}

.city {
    font-size:50px;
    color: #fff;
    font-weight:bold;
}

.sunrise, .sunset {
    font-size:30px;
    font-weight:bold;
    color: #fff;
    margin-top:30px;
}

#chartContainer {
    position: absolute;
    width: 80%;
    margin: 10%;
    z-index: 100;

}

.transBg {
    width: 100%;
    height: 100%;
    position: absolute;
    background:rgba(0,0,0,.90);
    z-index: 10;
}

.wrapper {
    -ms-transform: translate(0px, 30px); /* IE 9 */
    -webkit-transform: translate(0px, 30px); /* Safari */
    transform: translate(0px, 30px);
}

